html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column-reverse;
    display: flex;
}

table {
	width: 1600px;
	border-collapse: collapse;
	overflow: hidden;
	/*box-shadow: 0 0 20px rgba(0,0,0,0.1);*/
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

.ahref {
	color: rgb(128, 0, 255);
	justify-content: center;
	display: flex;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

body{	
	margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
}
.main{
	width: 400px;
	height: 700px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 40px;
	font-weight: bold;
	transition: .5s ease-in-out;
}

button:hover{
	background: #6d44b8;
}

.bottoni{
	position: absolute;
	top:0;
	right:0;
	display: flex;
}

button{
	width: 100px;
	height: 50px;
	margin: 15px;
	justify-content: center;
	display: block;
	color: rgb(0, 0, 0);
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}